<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="me-3 navbar-brand" href="../pages/admin-dashboard.html">Coders Battleground</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../pages/Create-Contest.html">Create Contest</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/Create-Interview.html">Create Interview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../pages/create_problem.html">Problems</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="userDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../assets/images/placeholder-profile-pic.jpg"
                 alt="Avatar"
                 class="rounded-circle"
                 style="width: 40px; height: 40px; object-fit: cover;">
            <span id="nav-company-name" class="ms-2"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="../pages/check-applications.html">Check Applications</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" href="../pages/login_signup.html">Log out</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
