<div class="circle-progress">
    <div class="chart-container">

        <canvas id="circleChart"></canvas>
        <script>
            getChart('circleChart');
        </script>
        <div class="center-label">
            <div>0%</div>
            <small>Accepted</small>
            <small>0 Submitted</small>
        </div>
    </div>
    <div class="difficulty-label">
        <div class="difficulty-item easy">Easy<span id="easy-count">0/2000</span></div>
        <div class="difficulty-item medium=">Med.<span id="medium-count">0/2000</span></div>
        <div class="difficulty-item hard">Hard<span id="hard-count">0/2000</span></div>
    </div>
</div>